*.iml
/application/videochat/.gradle
/local.properties
/application/videochat/.idea
.DS_Store
/application/videochat/.DS_Store
/application/videochat/build
/application/videochat/captures
/application/videochat/.externalNativeBuild
/application/videochat/.cxx
